<strong>Welcome Admin!</strong>
<p>You currently have <%= pluralize(@total_orders, "order") %>.</p>

<%= link_to 'View Users', users_path %><br>
<%= link_to 'View Carts', carts_path %><br>
<%= link_to 'View Products', products_path %>



